# pytensors
# pymc
# matplotlib
# pandas
# seaborn
# scikit-learn
# IPython
# openpyxl
# tables
# tqdm
sphinx
pydata-sphinx-theme
ablog
myst-nb
sphinx_design
# sphinext-opengraph
sphinx-copybutton
jupytext  