# pytensors
# pymc
# matplotlib
# pandas
# seaborn
# scikit-learn
# IPython
# openpyxl
# tables
# tqdm
IPython
ghp-import
scikit-image
matplotlib
pandas
seaborn
scikit-learn
sphinx
pydata-sphinx-theme
ablog
myst-nb
sphinx_design
sphinxext-opengraph
sphinx-copybutton
jupytext  